ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}
li {float: left;}
li a {display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li a:hover {background-color: #111; opacity: 50%;}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: hsl(216, 10%, 19%);
    overflow: hidden;
    width: 100%;
}
.socials {float:right;
    width:auto;
    border:none;
    display:block;
    outline:0;
    justify-content: center;}
.jointhepumps {font-family: "Barlow";
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
    text-align: center;}
.flex-rectangle {
    width: 100%;
    display: table;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

