ul {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;}
li {float: left;}
li a {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li a:hover {background-color: #111;}

.navbar {font-family: "Barlow";
         font-size: 20px;
         font-weight: 100;
         justify-content: center;
         align-content: flex-start;}
.socials {float:right;
         width:auto;
         border:none;
         display:block;
         outline:0;
         justify-content: center;}
.jointhepumps {font-family: "Barlow";
                font-size: 30px;
                font-weight: 300;
                justify-content: center;
                text-align: center;}
.flex-rectangle{width: 100%;
    height: 700px;
    background-image: linear-gradient(to right top, #3344de, #0f61e7, #0f7aec, #3790eb, #5ea5e8, #56b2e1, #64bcd7, #7dc4cd, #87c5b6, #9ec29f, #b8bc91, #d0b48f);}
.flex-rectangle:before{content: "";
        display: block;}
.title{padding: 12px 80px;position:static;top:50%;left:0%;color: white;}
